.header{
  height:  80px;
  padding: 5px;
}

.logo{
  background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0 / contain ;
  height: 70px;
  width: 150px;
}
.mask{
	background-image: url("../images/ring.gif");
    background-repeat: no-repeat;
    height: 100%;
    left: 40%;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99999;
}
.footer{
  text-align: center;
}
.movie{
  border: 1px solid #cecece;
  width: 500px;
  border-radius: 5px;
  margin: 30px;
}
.movie:hover{
  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.movie_image{
  background-image: url("../images/video_holder.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.movie_title{
  font-size: 16px;
  text-align: center;
}
.movie_rating{
  font-size: 12px; 
}
.movie_content{
  padding: 5px 5px 15px 5px;
  font-size: 14px;
}
.movie_footer{
  border-top: 1px solid #cecece;
  padding: 5px;
  font-size: 12px;
  bottom: 0px;
}
.text_align_r{
  text-align: right;
}
.pl0{
  padding-left: 0px;
}
.m_t_10{
  margin-top: 10px;
}
.p_10{
  padding: 10px;
}
.p_5{
  padding: 5px;
}