<div class="mask row" ng-class="{mask: vm.mask}">
</div>
<div class="container" ng-if="!vm.mask">
    <div class="row">
        <div class="col-md-10">
            <input class="form-control form-control-success" id="search" ng-model="vm.search[vm.filter]" placeholder="Search for a movie/genres/actor/budget..." type="text">
            </input>
        </div>
        <div class="col-md-2">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input autocomplete="off" id="grid_data" type="radio">
                        <i class="fa fa-th-large">
                        </i>
                    </input>
                </label>
                <label class="btn btn-primary">
                    <input autocomplete="off" id="graph_data" type="radio">
                        <i class="fa fa-bar-chart">
                        </i>
                    </input>
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.grid">
        <movie class="col" data="data" ng-repeat="data in vm.items | orderBy : ['name', 'genres'] | filter : vm.search">
        </movie>
    </div>
    <div class="row" ng-if="!vm.grid">
        <graph>
        </graph>
    </div>
</div>
